<mat-toolbar color="primary" div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon (click)="toggle()" aria-hidden="false" aria-label="Example home icon" fontIcon="menu" style="padding-right: 1rem;"></mat-icon>
  <span>User</span>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon (click)="back()">arrow_back</mat-icon>
  </button>
</mat-toolbar>
<div style="padding: 1rem;" fxLayout="column" fxLayoutGap="0.5rem">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="fill" fxFill>
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="form.name">
      <button *ngIf="form.name" matSuffix mat-icon-button aria-label="Clear" (click)="form.name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" fxFill>
      <mat-label>Role</mat-label>
      <input matInput type="text" [(ngModel)]="form.role">
      <button *ngIf="form.role" matSuffix mat-icon-button aria-label="Clear" (click)="form.role=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div>
      <button mat-raised-button (click)="saveUser()" color="primary" [disabled]="!form.name || !form.role" style="margin-right: 0.5rem;">Save</button>
      <button mat-raised-button (click)="clearForm()" color="primary" [disabled]="!form.name && !form.role">Clear</button>
    </div>
  </mat-card>
  <mat-card>
      <mat-card-header>
          <mat-card-title>File Upload</mat-card-title>
          <mat-card-subtitle>Upload your file here</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage [src]="imgUrl" alt="no-image">
      <mat-card-content>
        <div fxFill>
          <label>Profile Image</label>
          <input type="file" #fileInput>
        </div>
      </mat-card-content>
      <mat-card-actions align="start">
      <button mat-raised-button (click)="upload(fileInput.files?.[0])" color="accent">Upload</button>
      </mat-card-actions>
  </mat-card>
  <mat-card *ngFor="let user of users" fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{user.data.name}}</span>
    <span>{{user.data.role}}</span>
    <div>
      <button mat-icon-button color="primary" (click)="editUser(user.id)" style="margin-right: 0.5rem;">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
