<mat-toolbar color="basic" div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-icon (click)="toggle()" aria-hidden="false" aria-label="Example home icon" fontIcon="menu" style="padding-right: 1rem;"></mat-icon>
  <span>Home</span>
  <button mat-icon-button aria-label="Example icon-button with a menu">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-card class="m-3" fxLayout="column" fxLayoutAlign="center center" *ngFor="let item of [0,1,2,3,4]">
  <mat-card-title>FCM client</mat-card-title>
  <mat-form-field class="example-form-field" appearance="outline" fxFill>
    <mat-label>To</mat-label>
    <input matInput type="text" [(ngModel)]="to">
    <button *ngIf="to" matSuffix mat-icon-button aria-label="Clear" (click)="to=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="outline" fxFill>
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="title">
    <button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="outline" fxFill>
    <mat-label>Message</mat-label>
    <input matInput type="text" [(ngModel)]="body">
    <button *ngIf="body" matSuffix mat-icon-button aria-label="Clear" (click)="body=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="outline" fxFill>
    <mat-label>Auth Key</mat-label>
    <input matInput type="text" [(ngModel)]="authKey">
    <button *ngIf="authKey" matSuffix mat-icon-button aria-label="Clear" (click)="authKey=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button (click)="send()" color="primary">Send</button>
  <button mat-raised-button (click)="toggle()" color="warn">Toggle Side Menu</button>
</mat-card>
